@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgb(186, 195, 192);
  font-family: 'Optima', sans-serif;
  padding-left: 25px;
  padding-right: 25px;
  line-height: 25px;
  font-size: 19px;
  letter-spacing: 1px;
  word-spacing: 5px
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.card {
  margin-left: 2%;
  margin-right: 2%;
  padding-left: 20px;
  padding-right: 5px;
  padding-top: 25px;
  padding-bottom: 30px;
  margin-bottom: 35px;
  flex: 1 300px;
  max-width: 25%;
  min-width: 325px;
  display: inline-block;
  vertical-align: middle;
  border-radius: 2rem;
  background-color: aliceblue;
  opacity: 0.45;
  box-shadow: 3pt 6px rgba(3, 3, 3, 0.8);
  box-shadow: inset;
}

nav {
  background-color: rgb(106, 111, 109);
  opacity: .7;
  text-align: center;
  border-radius: 5px;
  box-sizing: border-box;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  flex: 250px;
  display: flex;
  justify-content: space-between;
}

nav a:hover {
  font-weight: bold;
}

nav a:active {
  font-weight: bold;
}
nav h1 {
  font-family: 'Comic Sans', cursive;
  font-size: 40px;
  margin-top: 10px;
  margin-left: -9px;
 }

 .login-form {
  margin-top: -200px;
  text-transform: uppercase;
  max-width: 20%;
  border-style: inset;
  padding: 10px;
}

.signup {
  margin-top: -250px;
  text-transform: uppercase; 
  max-width: 20%;
  border-style: inset;
  padding: 10px;
}

 .new-message {
  align-content: center;
  align-items: center;
  margin-top: 10px;
  padding: 30px;
}


.home-button {
  text-align: center;
  font-size: 20px;
  width: 300px;
  margin: 10px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 3pt 6px rgba(3, 3, 3, 0.8);
  box-shadow: inset;
}
